/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
a {
    border: 0;
    text-decoration: none !important;
}
.menu a {
    color: #999;
    text-decoration: none;
    display: block;
}

.menu a.active, .menu a:hover {
    border-bottom: 3px solid #ff66cc;
}

h2, .h2, h3 {
    color: #ff66cc;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    height: 485px;
    overflow-y: auto;
}

.content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #999;
}

.content::-webkit-scrollbar {
    width: 4px;

}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ff66cc;
}

#header {
    height: 30px;
    z-index: 10;
    -webkit-app-region: drag;

}

.nav-right {
    right: 8px;
    -webkit-app-region: no-drag;
}

.left {
    left: 8px;
    -webkit-app-region: no-drag;
}

body {
    line-height: 1.42857143;
    font-family: Arimo, Arial, Helvetica, "Lucida Grande", sans-serif;
    letter-spacing: -0.03em;
    font-size: 16px;
    margin: 0 auto;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.menu li {
    display: inline-block;
}

.raiting:before {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiPjxwYXRoIGZpbGw9IiNGMDlBMjAiIGQ9Ik03LjMgNUgxMUw4LjIgNy42bDEgMy43TDYgOS4xbC0zLjIgMi4yIDEtMy43TDEgNWgzLjdMNiAxLjMgNy4zIDV6TTYgMy4zbC0uOCAyLjRIMi42bDEuOSAxLjYtLjYgMi41TDYgOC4zbDIuMiAxLjUtLjctMi41IDEuOS0xLjdINi44TDYgMy4zeiIvPjwvc3ZnPg==');
}

.item .poster {
    background-position: center;
    transition: all 0.250s ease-out;
    border-radius: 5px;
}

.item .poster:hover {
    background-size: 110% 110%;
    cursor: pointer;
    border: 3px solid #ff66cc;
    box-sizing: border-box;
}

.item .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.m-l-r {
    margin: 0px 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.abs {
    position: absolute;
}

.clear {
    clear: both;
}

#drop-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.drop-indicator {
    position: fixed;
    background-color: #ff66cc;
    z-index: 1000;
    display: none;
}

.drop-indicator.right {
    top: 4px;
    right: 0px;
    width: 4px;
    height: 100%;
}

.drop-indicator.left {
    bottom: 4px;
    left: 0px;
    width: 4px;
    height: 100%;
}

.drop-indicator.bottom {
    bottom: 0px;
    right: 4px;
    width: 100%;
    height: 4px;
}

.drop-indicator.top {
    top: 0px;
    left: 4px;
    width: 100%;
    height: 4px;
}

.w25 {
    width: 25%;
    float: left;
}

.w75 {
    width: 75%;
    float: left;
}
#movie-content {

}

.movie-poster {
    padding-right: 16px;
}

.movie-poster img {
    border: 5px solid #fff;
    border-radius: 4px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

#movie-info {
    float: left;
    text-align: left;
}


#movie-info h1, #movie-info h2 {
    font-weight: bold;
    color: #fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

#movie-info h1 {
    font-size: 2.5em;
    margin-bottom: 24px;
    line-height: 42px;
}

#movie-info h2 {
    font-size: 1.2em;
}
.p {
    margin-top: 10px;
}
a.theme {
    transition: color 0.25s ease-in-out;
    color: #36bce6;
}

a.theme:hover {
    color: #2071f0;
}