* {
    padding: 0;
    margin: 0;
}

a {
    color: #999;
    text-decoration: none;
    display: block;
}

a.active, a:hover {
    border-bottom: 3px solid #ff66cc;
}

h2, .h2, h3 {
    color: #ff66cc;
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 24px;
}

h2, h3 {
    margin-top: 30px;
    margin-bottom: 10px;
}

body::-webkit-scrollbar {
    display: none;
}

.content {
    height: 485px;
    overflow-y: auto;
}

.content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #999;
}

.content::-webkit-scrollbar {
    width: 4px;

}

.content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ff66cc;
}

#header {
    height: 30px;
    z-index: 10;
    -webkit-app-region: drag;

}

.nav-right {
    right: 8px;
    -webkit-app-region: no-drag;
}

.left {
    left: 8px;
    -webkit-app-region: no-drag;
}

.menu {
    height: 34px;
}

body {
    background: #050505;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 13px;
    color: #999
}

.menu li {
    display: inline-block;
}

.raiting:before {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMiAxMiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTIgMTIiPjxwYXRoIGZpbGw9IiNGMDlBMjAiIGQ9Ik03LjMgNUgxMUw4LjIgNy42bDEgMy43TDYgOS4xbC0zLjIgMi4yIDEtMy43TDEgNWgzLjdMNiAxLjMgNy4zIDV6TTYgMy4zbC0uOCAyLjRIMi42bDEuOSAxLjYtLjYgMi41TDYgOC4zbDIuMiAxLjUtLjctMi41IDEuOS0xLjdINi44TDYgMy4zeiIvPjwvc3ZnPg==');
}

.item .poster {
    background-position: center;
    transition: all 0.250s ease-out;
}

.item .poster:hover {
    background-size: 110% 110%;
    cursor: pointer;
}
.item .title{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


.m-l-r {
    margin: 0px 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.abs {
    position: absolute;
}

.clear {
    clear: both;
}

#drop-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.drop-indicator {
    position: fixed;
    background-color: #ff66cc;
    z-index: 1000;
    display: none;
}

.drop-indicator.right {
    top: 4px;
    right: 0px;
    width: 4px;
    height: 100%;
}

.drop-indicator.left {
    bottom: 4px;
    left: 0px;
    width: 4px;
    height: 100%;
}

.drop-indicator.bottom {
    bottom: 0px;
    right: 4px;
    width: 100%;
    height: 4px;
}

.drop-indicator.top {
    top: 0px;
    left: 4px;
    width: 100%;
    height: 4px;
}